@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-size: 18px;
  height: 100vh;
  margin: 0;
  padding: 0;
}
#root {
  height: 100%;
}

h1 {
  font-size: 2em;
  font-weight: bold;
}

h2 {
  font-size: 1.6em;
  margin-bottom: 10px;
}

h3 {
  font-size: 1.3rem;
  color: rgb(49 110 246);
  text-decoration: underline;
}

a {
  color: rgb(49 110 246);
  text-decoration: underline;
}

a:hover {
  color: rgb(25, 187, 216);
  transition: ease-in-out 0.5s;
}
